body{
    background-color: rgb(252, 252, 252);
}

.titulo-layouts{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10;
    margin: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.acesso-layouts{
    padding: 25;
    margin: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    border: 10px solid red;
}

.bloco{
    padding: 50;
    margin: 20;
    background-color: rgb(0, 0, 0);
}

#bloco-red-l2{
    padding: 50;
    margin: 20;
    width: 140;
    background-color: rgb(255, 0, 0);
}

.blocos-blue-l3{
    padding: 50;
    margin: 20;
    height: 140;
    background-color: rgb(5, 1, 255);
}

#bloco-yellow-l4{
    padding: 50;
    margin: 20;
    height: 160;
    background-color: rgb(255, 238, 0);
}

#bloco-purple-l5{
    padding: 50;
    margin: 20;
    height: 140;
    background-color: rgb(111, 0, 255);
}

.blocos-pink-l7{
    padding: 50;
    margin: 20;
    height: 140;
    background-color: rgb(255, 0, 255);
}

.blocos-brown-l8{
    padding: 50;
    margin: 20;
    height: 160;
    background-color: rgb(82, 46, 0);
}

#bloco-vomito-l10{
    padding: 50;
    margin: 20;
    width: 140;
    background-color: rgb(146, 172, 0);
}

.blocos-coco-l14{
    padding: 50;
    margin: 20;
    width: 140;
    background-color: rgb(37, 28, 0);
}

.blocos-invisivel{
    padding: 50;
    margin: 20;
    background-color: white;
}

.flex{
    display: flex;
    justify-content: center;
}