body{
    background-color: rgb(252, 252, 252);
}

.titulo-layouts{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10;
    margin: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-layouts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20;
    border: 10px solid red;
    justify-content: space-around;
    margin: 20;
}

.bloco{
    padding: 50;
    margin: 20;
    background-color: rgb(0, 0, 0);
}

#bloco-red-l2{
    padding: 50;
    margin: 20;
    width: 140;
    background-color: rgb(255, 0, 0);
}

.bloco-blue-l3{
    padding: 50;
    margin: 20;
    height: 140;
    background-color: rgb(5, 1, 255);
}

#bloco-yellow-l4{
    padding: 50;
    margin: 20;
    height: 140;
    background-color: rgb(255, 238, 0);
}


.flex{
    display: flex;
    justify-content: center;
}